<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FORM CONTACT</title>
</head>
<body>
<h1 th:if="${!isNew}" th:text="'ID: '+${contact.id}+'; Name: '+${contact.firstName}+' '+${contact.lastName}"></h1>
<h1 th:if="${isNew}">New contact</h1>
<form action="/contact/save" method="post">
  <input type="hidden" name="id" id="id" th:if="${!isNew}" th:value="${contact.id}">
  <div>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" th:value="${contact.firstName}">
  </div>
  <div>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" th:value="${contact.lastName}">
  </div>
  <div>
    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email" th:value="${contact.email}">
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" th:value="${contact.phone}">
  </div>
  <button type="submit">Save</button>
</form>
</body>
</html>